{% extends "agro/base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Blog Posts {% endblock title %}</title>
    <!-- Include your CSS stylesheets and JavaScript libraries here -->
</head>

<body>
    <header>
        <h1>Blog</h1>
    </header>

    {% block content %}
    <main class="p-10 bg-slate-400">
        <!-- <div class="pb-3 ">
            <a href="/" class="font-bold"><button>
                    Home
                </button></a>

                
                    <button>Search Blogs</button>
                
        </div> -->

        <div class="pb-3 flex justify-between items-center">
            <a href="/" class="font-bold"><button class="px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white rounded-lg">
                    Home
                </button></a>

            <a href="{% url 'agro:search' %}"> <button
                    class="px-4 py-2 bg-green-500 hover:bg-blue-700 text-white rounded-lg">
                    Search Blogs
                </button></a>

        </div>



        <div class="container mx-auto py-6 bg-lime-500 rounded-xl">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 bg-slate-400">
                {% for post in posts %}



                <div class="bg-white rounded-md p-4">
                    <h2 class="text-lg font-semibold">{{ post.title }}</h2>
                    <p class="text-gray-500 mb-2">Author: {{ post.author }}</p>

                    <div class="flex justify-center items-center">
                        <img src="{{ post.image.url }}" alt="{{ post.name }}" class="post-image w-3/4 rounded-lg" />
                    </div>

                    <p class="text-gray-700">{{ post.content|truncatechars:200 }}</p>
                    <a href="{% url 'agro:blog_detail' post.id %}" class="text-blue-500 hover:underline">Read More</a>
                </div>
                {% empty %}
                <p class="text-gray-700">No blog posts available.</p>
                {% endfor %}
            </div>
        </div>

        <!-- Pagination -->
        {% include 'agro/pagination_blog.html' %}


    </main>

    {% endblock content %}


    <!-- Include your footer if needed -->
</body>

</html>