{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'tw/output.css' %}" />
    <title>HuoAgroFarm</title>
  </head>
  <body>
    <div class="p-20">
      <h1
        class="bg-green-500 text-center p-4 rounded-lg text-lg hover:bg-pink-600 hover:text-white text-transform: uppercase;"
      >
        Welcome to my Agricultural Initiative!!
      </h1>
    </div>

<section class="ml-6 bg-slate-200 mr-4 rounded-lg">
    <div class="justify-content-center">
      <p class="p-6">
        My primary goal is to provide a better experience for our farmers and
        small business owener who can get benifit through this site.Agriculture
        farming is very important part for life of people. It is the important
        source of economy and food. over the previous years, this area has seen
        a lot of changes and advancement in the diverse cultivating approaches
        and techniques. For example, these days, there is the utilization of
        inorganic compost, the utilization of decreased amount of pesticides,
        the utilization of various work vehicles and machinery. The
        accessibility of such data sources has seen the requirement for the
        utilization of regular assets and cycle with point of improving
        agriculture yield and decreasing expenses. The utilization of newideas
        in farming accompanies a great deal of advantages
      </p>
    </div>

</section>
  </body>
</html>
